.calcite .dialog-header {
    font-weight: 700;
    margin: 10px 0;
}
.calcite .title-header {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 18px;
}
.calcite .more-info {
    margin: 0 0 10px;
}
.calcite .dialog-description {
    margin: 0 0 10px;
}
.calcite .dialog-date {
    padding-bottom: 40px;
    font-size: 14px;
    color: #999;
    line-height: normal;
}