.calcite .dialogHeader {
    font-weight: 700;
    margin: 10px 0;
}
.calcite .titleHeader {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 18px;
}
.calcite .moreInfo {
    padding-bottom: 40px;
}
.calcite .dialogDescription {
    margin: 0 0 20px;
}