@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2128570');
  src: url('../font/fontello.eot?2128570#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?2128570') format('woff'),
       url('../font/fontello.ttf?2128570') format('truetype'),
       url('../font/fontello.svg?2128570#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2128570#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,[class*=" icon-"]:before,.leftArrow,.rightArrow,.dijitDialogCloseIcon,.esriGeocoderSearch,.esriGeocoderReset {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search-1:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-menu-1:before { content: '\e810'; } /* '' */
.icon-check-1:before { content: '\e804'; } /* '' */
.icon-cancel-1:before { content: '\e80c'; } /* '' */
.icon-info-circled-1:before { content: '\e801'; } /* '' */
.icon-home-1:before { content: '\e808'; } /* '' */
.icon-bookmarks:before { content: '\e809'; } /* '' */
.icon-attention-1:before { content: '\e812'; } /* '' */
.icon-doc-text:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-popup:before { content: '\e817'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-left-dir:before { content: '\e80a'; } /* '' */
.icon-right-dir-1:before { content: '\e807'; } /* '' */
.icon-target-1:before { content: '\e82f'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-twitter-1:before { content: '\e818'; } /* '' */
.icon-facebook-squared-1:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */

.leftArrow:before { content: '\e80d'; }
.rightArrow:before { content: '\e80b'; }
.dijitDialogCloseIcon:before { content: '\e80c'; }
.esriGeocoderSearch:before { content: '\e800'; }
.esriGeocoderReset:before { content: '\e80c'; }

