.HomeButtonCalcite span {
	display:none;
}

.HomeButtonCalcite .homeContainer {
	text-align:center;
	font-size:21px;
	line-height:22px;
	width:22px;
	padding:4px;
	background-color:#fff;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-o-border-radius:1px;
	border-radius:1px;
	border:1px solid #999;
	color:#999;
}

.HomeButtonCalcite .homeContainer:hover {
	background-color:#eee;
	color: #333;
}

.HomeButtonCalcite .homeContainer:active {
	color:#007ac2;
	background-color:#ddd;
}

.HomeButtonCalcite .home {
	font-family:"fontello";
	font-style:normal;
	font-weight:400;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	*zoom:expression(this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe808;&nbsp;');
}

.HomeButtonCalcite .home:before {
	content:'\e808';
}