.instagram-popup {
    margin: 0;
}
.instagram-popup .ownername {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-bottom: 5px;
}
.instagram-popup .date {
    font-size: 12px;
    color: #999;
    line-height: 16px;
}
.instagram-popup .content {
    margin-bottom: 5px;
}
.instagram-popup .image-anchor {
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 5px;
}
.instagram-popup .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 2px;
    -moz-box-shadow: 1px 1px 3px #CCC;
    -webkit-box-shadow: 1px 1px 3px #CCC;
    box-shadow: 1px 1px 3px #CCC;
    border: 1px solid #CCC;
    background: url(../images/ajax-loader.gif) no-repeat center center #fff;
}
.instagram-popup .image:hover,
.instagram-popup .image:focus {
    opacity: .85;
    background-image: none;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}