.LayerLegend {
	width:280px;
}

.LayerLegend .esriLegendServiceLabel {
	display:none;
}

.LayerLegend .esriLegendLayerLabel{
    padding:0 0 5px 0;
    margin:0 0 5px 0;
    border-bottom:1px solid #8c5296;
}

.LayerLegend .esriLegendLayer{
    padding:0;
    margin:0 0 5px 0;
}

.LayerLegend .esriLegendService {
	padding:0;
}

.LayerLegend .LL_Title {
	border-bottom:1px solid #e0e0e0;
	cursor:pointer;
	font-size:16px;
	line-height:16px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.LayerLegend .LL_FirstLayer .LL_Title {
	border-top:1px solid #e0e0e0;
}

.LayerLegend .LL_Selected .LL_Title {
	border-bottom:0;
}

.LayerLegend .LL_TitleContainer {
	border-left:5px solid #ccc;
	background:#f8f8f8;
	color:#555;
}

.LayerLegend .LL_Selected .LL_TitleContainer {
	border-left:5px solid #8f499c;
	background:#fff;
	color:#8f499c;
}

.LayerLegend .LL_Text,.LayerLegend .LL_SublayerText {
	display:inline-block;
	padding:12px 0;
	margin:0;
	text-overflow:ellipsis;
	width:225px;
	white-space:nowrap;
	overflow:hidden;
	line-height:16px;
	height:16px;
	border:1px solid transparent;
	vertical-align:middle;
}

.LayerLegend .LL_SublayerText {
	padding:3px 0;
	width:210px;
}

.LayerLegend .LL_Checkbox,.LayerLegend .LL_SublayerCheckbox {
	display:inline-block;
	height:16px;
	width:16px;
	margin:0;
	display:inline-block;
	border:1px solid #bababa;
	margin:12px 8px;
	vertical-align:middle;
	font-size:12px;
	line-height:16px;
	background-color:#fff;
	color:#000;
	cursor:pointer;
}

.LayerLegend .LL_SublayerCheckbox {
	margin:3px 8px 3px 0;
}

.LayerLegend .LL_Checkbox:hover {
	color:#555;
}

.LayerLegend .LL_Checkbox:active {
	color:#999;
}

.LayerLegend .LL_SublayerContainer {
	margin:10px 0 0 15px;
}

.LayerLegend .LL_Content {
	background:#6b1978;
	color:#fff;
	max-height:0;
	_height:0;
	overflow:auto;
	-webkit-transition:max-height .25s ease;
	-moz-transition:max-height .25s ease;
	transition:max-height .25s ease;
}

.LayerLegend .LL_Content::-webkit-scrollbar {
	width:16px;
}

.LayerLegend .LL_Content::-webkit-scrollbar-track {
	background-color:#561460;
}

.LayerLegend .LL_Content::-webkit-scrollbar-thumb {
	background-color:#8c5296;
}

.LayerLegend .LL_Content::-webkit-scrollbar-thumb:hover {
	background-color:#af68bb;
}

.LayerLegend .LL_Content::-webkit-scrollbar-thumb:active {
	background-color:#c575d2;
}

.LayerLegend .LL_Selected .LL_Content {
	max-height:300px;
	_height:300px;
	border-bottom:1px solid #792c86;
}

.LayerLegend .LL_Legend {
	padding:10px 10px 10px 15px;
}