/* General */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:16px;
}
input[type=text]::-ms-clear {
    display: none;
}
.calcite a {
    color: #007ac2;
}
.calcite a:visited {
    color: #97cbec;
}
.calcite a:hover {
    color: #555;
}
.calcite a:active {
    color: #555;
}
.esriRtl label {
    /*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}
/* General Misc */
.toggle-grey {
    color: #999;
}
.toggle-grey:hover,
.toggle-grey:active {
    color: #333;
}
.toggle-grey-on {
    color: #007ac2;
}
.toggle-grey-on:hover,
.toggle-grey-on:active {
    color: #97cbec;
}
.buttonContainer {
    padding: 6px;
    line-height: 22px;
    font-size: 18px;
}
.icon-right {
    float: right;
    cursor: pointer;
    height: 34px;
    padding: 0;
    margin: 0;
}
/* Drawer */
.topBar {
    position: absolute;
    z-index: 36;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    height: 34px;
    border-bottom: 1px solid #ddd;
}
#title {
    color: #007ac2;
    padding: 6px 0;
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
#hamburger_button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 34px;
    font-size: 25px;
    line-height: 34px;
}
#bc_outer {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
#cp_outer_left {
    width: 0px;
    max-width: 280px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    -webkit-transition: width 250ms ease;
    -moz-transition: width 250ms ease;
    -ms-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease;
}
.drawerOpen #cp_outer_left {
    width: 280px;
}
.drawerOpenShadow #cp_outer_left:before {
    -webkit-box-shadow: inset -1px 0 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset -1px 0 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    content: '';
    display: block;
    pointer-events: none;
}
#cp_outer_center {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Map */

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#BasemapToggle {
    position: absolute;
    top: 55px;
    right: 20px;
    z-index: 35;
}
#mapButtons {
    position: absolute;
    top: 127px;
    left: 20px;
    z-index: 35;
}
#HomeButton {
    margin-top: 6px;
}
#mobileGeocoderIcon {
    display: none;
}
#geocoderMobile {
    float: left;
    width:75%;
}
#geocoderMobile .esriGeocoderContainer{
    width:100%;
}
.mobileLocateBoxHidden {
    display: none;
}
#geocoderMobile.esriGeocoder input {
    width: 75%;
}
#btnCloseGeocoder {
    float: left;
    width: 60px;
    padding: 1px 0;
    line-height: 30px;
    height: 30px;
    color: #999;
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}
#btnCloseGeocoder:hover {
    color: #555;
}
#btnCloseGeocoder:active {
    color: #007ac2;
}
#mobileSearch {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 35px;
    width: 100%;
}
#mobileSearch .mobileSearchContainer {
    padding: 5px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    height: 32px;
}

/* Drawer Menu */

.drawer-menu-container {
    width: 280px;
}
.drawer-menu-panels .panel {
    display: none;
    width: 100%;
}
.drawer-menu-panels .panel-selected {
    display: block;
    width: 100%;
}
.drawer-menu-buttons {
    background-color: #007ac2;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    overflow: visible;
    font-weight: 700;
    width: 100%;
}
.drawer-menu-buttons .item {
    width: 50%;
    text-align: center;
    color: #97cbec;
    float: left;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.drawer-menu-buttons .item-only {
    width: 100%;
}
.drawer-menu-buttons .item-container {
    position: relative;
    overflow: visible;
    padding: 7px 0;
}
.drawer-menu-buttons .item .title {
    padding: 7px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.drawer-menu-buttons .item-first .title {
    border-right: 1px solid #5fa8d4;
}
.drawer-menu-buttons .item-only .title {
    border-right: 0;
}
.drawer-menu-buttons .item-selected {
    color: #fff;
    cursor: default;
}
.drawer-menu-buttons .arrow {
    display: none;
}
.drawer-menu-buttons .item-selected .arrow {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 2;
    height: 9px;
    width: 100%;
    background: url(../images/selected-arrow.png) no-repeat center bottom;
}
.drawer-menu-buttons .item-only .arrow {
    display: none;
}

/* Misc */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Loading */

.loadingIndicatorDiv {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #eee;
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

/* Media Queries */
/* max width */

@media screen and (max-width: 850px) {

    .mobileLocateBoxDisplay {
        display: none;
    }
    .drawerOpen .calcite .dialogContent {
        width: auto;
        height: auto;
    }
    #title {
        max-width: 30%;
    }
}
@media screen and (max-width: 600px) {
    #mobileSearch {
        display: none;
    }
    .calcite .dialogContent {
        width: auto;
        height: auto;
    }
    #title {
        max-width: 35%;
    }
}
@media only screen and (max-width: 510px) {
    #title {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .esriAttribution {
        display: none!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .esriAttribution,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    #mobileSearch {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .geocoderSearch {
        display: none!important;
    }
}
@media screen and (max-width: 310px) {
    .topMenuRight,
    #mobileSearch {
        display: none!important;
    }
}
@media screen and (max-width: 800px) {
    .drawerOpen #title {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .drawerOpen .esriSimpleSlider,
    .drawerOpen #mapButtons,
    .drawerOpen #BasemapToggle,
    .drawerOpen #title,
    .drawerOpen .esriAttribution,
    .drawerOpen .locateBox {
        display: none!important;
    }
    .drawerOpen .mobileLocateBoxDisplay {
        display: block!important;
    }
    .drawerOpen #mobileGeocoderIcon,
    .drawerOpen #geocoderMobile {
        display: block!important;
    }
    .drawerOpen .geocoderSearch {
        display: none!important;
    }
}
@media screen and (max-width: 580px) {
    .drawerOpen .topMenuRight,
    .drawerOpen #mobileSearch {
        display: none!important;
    }
}
/* max height */

@media screen and (max-height: 256px) {
    .esriAttribution {
        display: none!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .esriAttribution,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    #mobileSearch {
        display: none;
    }
}
/* iPhone 5 in portrait and landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* STYLES GO HERE */
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .geocoderSearch,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
}
/* iPhone 5 in landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    .drawerOpen .mobileLocateBoxDisplay {
        display: block!important;
    }
    .drawerOpen #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .drawerOpen .esriSimpleSlider,
    .drawerOpen #BasemapToggle,
    .drawerOpen #title,
    .drawerOpen .geocoderSearch,
    .drawerOpen .locateBox {
        display: none!important;
    }
    .drawerOpen .esriAttribution {
        display: none!important;
    }
    .drawerOpen #geocoderMobile .esriGeocoderResults,
    .drawerOpen #geocoderMobile .esriGeocoder input,
    .drawerOpen #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}
/* iPhone 5 in portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {

}
/* iPhone 2G-4S in portrait and landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .geocoderSearch,
    .locateBox {
        display: none!important;
    }
    .esriAttribution {
        display: none!important;
    }
}
/* iPhone 2G-4S in landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    #mobileGeocoder,
    #mobileGeocoderIcon {
        display: block!important;
    }
    #geocoderMobile .esriGeocoderResults,
    #geocoderMobile .esriGeocoder input,
    #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}
/* iPhone 2G-4S in portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    #geocoderMobile .esriGeocoderResults,
    #geocoderMobile .esriGeocoder input,
    #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}