/* max width */

@media screen and (max-width: 850px) {

    .mobileLocateBoxDisplay {
        display: none;
    }
    .drawerOpen .calcite .dialogContent {
        width: auto;
        height: auto;
    }
    #title {
        max-width: 30%;
    }
}
@media screen and (max-width: 600px) {
    #mobileSearch {
        display: none;
    }
    .calcite .dialogContent {
        width: auto;
        height: auto;
    }
    #title {
        max-width: 35%;
    }
}
@media only screen and (max-width: 510px) {
    #title {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .esriAttribution {
        display: none!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .esriAttribution,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    #mobileSearch {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .geocoderSearch {
        display: none!important;
    }
}
@media screen and (max-width: 310px) {
    .topMenuRight,
    #mobileSearch {
        display: none!important;
    }
}
@media screen and (max-width: 800px) {
    .drawerOpen #title {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .drawerOpen .esriSimpleSlider,
    .drawerOpen #mapButtons,
    .drawerOpen #BasemapToggle,
    .drawerOpen #title,
    .drawerOpen .esriAttribution,
    .drawerOpen .locateBox {
        display: none!important;
    }
    .drawerOpen .mobileLocateBoxDisplay {
        display: block!important;
    }
    .drawerOpen #mobileGeocoderIcon,
    .drawerOpen #geocoderMobile {
        display: block!important;
    }
    .drawerOpen .geocoderSearch {
        display: none!important;
    }
}
@media screen and (max-width: 580px) {
    .drawerOpen .topMenuRight,
    .drawerOpen #mobileSearch {
        display: none!important;
    }
}
/* max height */

@media screen and (max-height: 256px) {
    .esriAttribution {
        display: none!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .esriAttribution,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    #mobileSearch {
        display: none;
    }
}
/* iPhone 5 in portrait and landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* STYLES GO HERE */
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .geocoderSearch,
    .locateBox {
        display: none!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
}
/* iPhone 5 in landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    #mobileGeocoderIcon,
    #geocoderMobile {
        display: block!important;
    }
    .drawerOpen .mobileLocateBoxDisplay {
        display: block!important;
    }
    .drawerOpen #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .drawerOpen .esriSimpleSlider,
    .drawerOpen #BasemapToggle,
    .drawerOpen #title,
    .drawerOpen .geocoderSearch,
    .drawerOpen .locateBox {
        display: none!important;
    }
    .drawerOpen .esriAttribution {
        display: none!important;
    }
    .drawerOpen #geocoderMobile .esriGeocoderResults,
    .drawerOpen #geocoderMobile .esriGeocoder input,
    .drawerOpen #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}
/* iPhone 5 in portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {

}
/* iPhone 2G-4S in portrait and landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileLocateBoxDisplay {
        display: block!important;
    }
    #mapButtons {
        top: 55px!important;
        display: block!important;
    }
    .esriSimpleSlider,
    #BasemapToggle,
    #title,
    .geocoderSearch,
    .locateBox {
        display: none!important;
    }
    .esriAttribution {
        display: none!important;
    }
}
/* iPhone 2G-4S in landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    #mobileGeocoder,
    #mobileGeocoderIcon {
        display: block!important;
    }
    #geocoderMobile .esriGeocoderResults,
    #geocoderMobile .esriGeocoder input,
    #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}
/* iPhone 2G-4S in portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    #geocoderMobile .esriGeocoderResults,
    #geocoderMobile .esriGeocoder input,
    #geocoderMobile .esriGeocoderContainer ul li {
        font-size: 15px!important;
    }
}