.TableOfContents {
    width: 280px;
}
.TableOfContents .esriLegendServiceLabel {
    display: none;
}
.TableOfContents .esriLegendLayerLabel {
    margin: 0;
    padding: 0;
}
.TableOfContents .esriLegendLayer {
    padding: 0;
    margin: 0 0 5px;
}
.TableOfContents .esriLegendService {
    padding: 0;
}
.TableOfContents .LL_Title {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.TableOfContents .LL_FirstLayer .LL_Title {
    border-top: 1px solid #e0e0e0;
}
.TableOfContents .LL_Expanded .LL_Title {
    border-bottom: 0;
}
.TableOfContents .LL_TitleContainer {
    border-left: 5px solid #ccc;
    background: #f8f8f8;
    color: #555;
    position: relative;
}
.TableOfContents .LL_Expanded .LL_TitleContainer {
    border-left: 5px solid #007ac2;
    color: #007ac2;
    font-weight: 700;
}
.TableOfContents .LL_Text,
.TableOfContents .LL_SublayerText {
    display: inline-block;
    padding: 12px 0;
    margin: 0;
    text-overflow: ellipsis;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 16px;
    height: 16px;
    border: 1px solid transparent;
    vertical-align: middle;
}
.TableOfContents .LL_SublayerText {
    padding: 3px 0;
    width: 210px;
}
.TableOfContents .LL_Checkbox,
.TableOfContents .LL_SublayerCheckbox {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0;
    border: 1px solid #bababa;
    margin: 12px 8px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.TableOfContents .LL_SublayerCheckbox {
    margin: 3px 8px 3px 0;
}
.TableOfContents .LL_Checkbox:hover {
    color: #555;
}
.TableOfContents .LL_Checkbox:active {
    color: #999;
}
.TableOfContents .LL_SublayerContainer {
    margin: 10px 0 0 15px;
}
.TableOfContents .LL_Content {
    background: #dfdfdf;
    color: #333;
    position: relative;
    max-height: 0;
    _height: 0;
    overflow: auto;
    -webkit-transition: max-height .25s ease;
    -moz-transition: max-height .25s ease;
    transition: max-height .25s ease;
    -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.TableOfContents .LL_ZoomTo {
    cursor: pointer;
    margin: 10px 0 0 15px;
    text-decoration: underline;
}
.TableOfContents .LL_ZoomTo:hover {
    text-decoration: none;
}
.TableOfContents .LL_Expanded .LL_Content {
    max-height: 300px;
    _height: 300px;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}
.TableOfContents .LL_Legend {
    padding: 10px 10px 10px 15px;
}