<div class="${theme}" role="presentation">
    <div data-dojo-attach-point="_buttonNode" title="${_i18n.widgets.AboutDialog.title}" role="button" class="${css.container} ${css.button}">
        <div class="${css.icon}"></div>
    </div>
    <div data-dojo-attach-point="_dialogNode">
    <div class="${css.aboutDialogContent}">
        <div data-dojo-attach-point="_titleNode" class="${css.headerNodeDescription}"></div>
        <div data-dojo-attach-point="_descriptionNode" class="${css.nodeDescription}"></div>
        <div data-dojo-attach-point="_licenseHeaderNode" class="${css.headerNodeDescription}">${_i18n.widgets.AboutDialog.licenseHeader}</div>
        <div data-dojo-attach-point="_licenseInfoNode" class="${css.nodeDescription}"></div>
        <div data-dojo-attach-point="_moreInfoHeaderNode" class="${css.headerNodeDescription}">${_i18n.widgets.AboutDialog.moreInfoHeader}</div>
        <div data-dojo-attach-point="_moreInfoNode" class="${css.moreInfo}"></div>
    </div>
    </div>
</div>
