<div class="${theme}" role="presentation">
    <div data-dojo-attach-point="_buttonNode" title="${_i18n.widgets.AboutDialog.title}" role="button" data-dojo-attach-event="ondijitclick:toggle" class="${_css.container} ${_css.button}">
        <div class="${_css.icon}"></div>
    </div>
    <div data-dojo-attach-point="_dialogNode">
        <div data-dojo-attach-point="_titleNode"></div>
        <div data-dojo-attach-point="_descriptionNode"></div>
        <div data-dojo-attach-point="_tagsNode"></div>
        <div data-dojo-attach-point="_licenseInfoNode"></div>
        <div data-dojo-attach-point="_infoNode"></div>
        <div data-dojo-attach-point="_moreInfoNode"></div>
    </div>
</div>