<div class="${theme}" role="presentation">
    <div data-dojo-attach-point="_buttonNode" title="${_i18n.widgets.ShareDialog.title}" role="button" class="${css.container} ${css.button}">
        <div class="${css.icon}"></div>
    </div>
    <div data-dojo-attach-point="_dialogNode">
        <div class="${css.shareDialogContent}">
            <div class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.heading}</div>
            <div class="${css.iconContainer}">
                <div tabindex="0" class="${css.facebookIcon}" data-dojo-attach-point="_facebookButton" title="${_i18n.widgets.ShareDialog.facebookTooltip}"></div>
                <div tabindex="0" class="${css.twitterIcon}" data-dojo-attach-point="_twitterButton" title="${_i18n.widgets.ShareDialog.twitterTooltip}"></div>
                <div tabindex="0" class="${css.emailIcon}" data-dojo-attach-point="_emailButton" title="${_i18n.widgets.ShareDialog.emailTooltip}"></div>
                <a tabindex="0" class="${css.linkIcon}" data-dojo-attach-point="_linkButton" title="${_i18n.widgets.ShareDialog.url}"
                    target="_blank"></a>
                <div tabindex="0" class="${css.iconClear}"></div>
            </div>
            <div class="${css.shareDialogExtent}">
                <input tabindex="0" id="${id}_extent_checkbox" data-dojo-attach-point="_extentInput" type="checkbox" />
                <label for="${id}_extent_checkbox">${_i18n.widgets.ShareDialog.extent}</label>
            </div>
            <div class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.url}</div>
            <input tabindex="0" class="${css.shareMapURL}" autofocus="" type="text" data-dojo-attach-point="_shareMapUrlText"
                readonly />
            <div class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.embed}</div>
            <div class="${css.embed}">
                <textarea tabindex="0" autofocus="" data-dojo-attach-point="_embedNode" rows="5" cols="33" readonly
                    class="${css.shareDialogTextarea}"></textarea>
            </div>
            <div class="${css.mapSizeContainer}">
                <div class="${css.mapSizeLabel}">${_i18n.widgets.ShareDialog.size}</div>
                <div class="${css.embedMapSizeDropDown}">
                    <select tabindex="0" data-dojo-attach-point="_comboBoxNode"></select>
                </div>
                <div class="${css.embedMapSizeClear}"></div>
            </div>
        </div>
    </div>
</div>